.preguntas h1, .encabezado h1 {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}

.main-carrusel .titulo-carrusel {
  font-family: "Playwrite IS", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.producto-descripcion h4, .producto-info div h4, .preguntas .accordion .accordion-item h2 .accordion-button, .encabezado .caja-info div h3, .carousel-caption p {
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
  font-style: normal;
}

.producto-info div h2, .carousel-caption h2 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.newsletter form .btn-primary, form .btn-primary, .grilla-productos .card .card-body .btn-primary, .producto-info div div .btn-primary, .card-producto .card-body .btn-primary {
  background-color: rgba(220, 163, 120, 0.5490196078);
  border: rgba(220, 163, 120, 0.5490196078);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carrusel-principal {
  height: 500px;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.459);
  padding: 10px 15px;
  border-radius: 12px;
}
.carousel-caption h2 {
  color: #d7e0b5;
  font-size: 50px;
}
.carousel-caption p {
  font-size: 20px;
  color: rgb(26, 23, 23);
}

.carousel-item {
  height: 500px;
}
.carousel-item img {
  object-position: center;
}

/*!CAJA DE INFORMACION INDEX*/
.encabezado {
  margin: 60px 0px 40px 0px;
}
.encabezado h1 {
  text-align: center;
}
.encabezado .caja-info {
  border: solid #d7e0b5;
  border-radius: 15px;
  margin: 20px;
  background-color: #d7e0b5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 40px 20px;
}
.encabezado .caja-info div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.encabezado .caja-info div h3 {
  font-size: 1.5em;
}

/*CARRUSELES NOVEDAD Y PROMOCION*/
.main-carrusel {
  margin: 50px;
}
.main-carrusel .titulo-carrusel {
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
}
.main-carrusel div .carrusel-inner {
  height: auto !important;
}

.card-producto {
  max-height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: none;
}
.card-producto img {
  height: 200px;
  object-fit: cover;
}
.card-producto .card-body .card-text {
  font-size: 0.9rem;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-producto .card-body .btn-primary {
  background-color: #d7e0b5 !important;
  border: #d7e0b5;
}
.card-producto .card-body .btn-primary:hover {
  background-color: #dca378 !important;
  border: #dca378;
}

.preguntas {
  padding: 3rem 1rem;
  background-color: #fef9f5;
}
.preguntas h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #dca378;
}
.preguntas .accordion {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
}
.preguntas .accordion .accordion-item {
  border: none;
  border-bottom: 2px dashed #ffd88d;
  background-color: #fef9f5;
}
.preguntas .accordion .accordion-item h2 .accordion-button {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #f5f5d3;
  color: #6B4C3B;
  transition: all 0.2s ease-in-out;
}
.preguntas .accordion .accordion-item h2 .accordion-button:hover {
  background-color: #dca378;
  color: #3F3F3F;
}
.preguntas .accordion .accordion-item h2 .accordion-button:not(.collapsed) {
  color: #6B4C3B;
  background-color: #ffd88d;
  box-shadow: none;
}

.accordion-body {
  font-size: 1rem;
  background-color: #f5f5d3;
  padding: 1rem 1.5rem;
  line-height: 1.6;
  color: #5C5C5C;
}

.seccion-producto {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}
.seccion-producto .contenedor-producto {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}
.seccion-producto .contenedor-producto .producto-img {
  flex: 1 1 55%;
  min-width: 300px;
}

.producto-info {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.producto-info div h2 {
  font-size: 3rem;
  color: #dca378;
}
.producto-info div h4 {
  font-size: 1.2rem;
  color: #666;
  margin: 0;
}
.producto-info div select {
  width: 100%;
  max-width: 250px;
}
.producto-info div form {
  width: 100%;
  max-width: 250px;
}
.producto-info div form input {
  width: 100%;
  max-width: 250px;
}
.producto-info div form input[type=number] {
  width: 100%;
  max-width: 250px;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.producto-info div div .btn-primary {
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 250px;
  text-align: center;
  margin-top: 20px;
}
.producto-info div div .btn-primary:focus {
  outline: 2px solid #dca378;
  outline-offset: 2px;
}

.producto-descripcion {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 2px solid #ffd88d;
  line-height: 1.6;
  background-color: #fef9f5;
  padding: 20px;
  border-radius: 12px;
}
.producto-descripcion h4 {
  margin: 3;
}

.grilla-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
  justify-items: center;
}
.grilla-productos .card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fffef9;
}
.grilla-productos .card .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.grilla-productos .card .card-body {
  padding: 15px;
}
.grilla-productos .card .card-body .btn-primary:hover {
  background-color: #dca378 !important;
  border: #dca378;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/fondo-hoja-carpeta.jpg") no-repeat center center/cover;
  padding: 20px;
}
.wrapper .login-box {
  width: 450px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #333;
}
.wrapper .login-box form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}
.wrapper .login-box form .input-box {
  position: relative;
  margin-bottom: 25px;
}
.wrapper .login-box form .input-box .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #666;
}
.wrapper .login-box form .input-box input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  color: #333;
  font-size: 16px;
}
.wrapper .login-box form .input-box input:focus + label, .wrapper .login-box form .input-box input:valid + label {
  top: -10px;
  left: 35px;
  font-size: 12px;
  color: #dca378;
}
.wrapper .login-box form .input-box input label {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #999;
  transition: 0.3s ease;
}
.wrapper .login-box form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}
.wrapper .login-box form .boton-registro-ingreso {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #d7e0b5;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.wrapper .login-box form .boton-registro-ingreso:hover {
  background-color: #ffd88d;
}
.wrapper .login-box form .register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}
.wrapper .login-box form .register-link p a {
  color: #dca378;
  text-decoration: none;
  font-weight: bold;
}

.form-main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/fondo-hoja-carpeta.jpg") no-repeat center center/cover;
  padding: 20px;
}
.form-main .form-content {
  width: 450px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #333;
  text-align: center;
}
.form-main .form-content h3 {
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}
.form-main .form-content form .input-box {
  position: relative;
  margin-bottom: 20px;
}
.form-main .form-content form .input-box input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  color: #333;
  font-size: 16px;
}
.form-main .form-content form .input-box input:focus + label, .form-main .form-content form .input-box input:valid + label {
  top: -10px;
  left: 35px;
  font-size: 12px;
  color: #dca378;
}
.form-main .form-content form .input-box label {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #999;
  transition: 0.3s ease;
}
.form-main .form-content form .boton-registro-ingreso {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #d7e0b5;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.form-main .form-content form .boton-registro-ingreso:hover {
  background-color: #ffd88d;
}
.form-main .form-content p {
  margin-top: 20px;
  font-size: 14px;
}
.form-main .form-content p a {
  color: #dca378;
  text-decoration: none;
  font-weight: bold;
}

nav {
  background-color: #ffd88d;
}

.dropdown-menu {
  background-color: #fef9f5 !important;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #f5f5d3 !important;
}

.redes {
  padding-left: 7px;
}
.redes a {
  padding-left: 15px;
  text-decoration: none;
}
.redes a svg {
  transition: 0.5s;
}
.redes a .bi-whatsapp:hover {
  color: #128C7E;
}
.redes a .bi-facebook:hover {
  color: #4267B2;
}
.redes a .bi-instagram:hover {
  color: #C13584;
}

form .form-control {
  margin-right: 10px;
}
form .form-control:focus {
  --bs-focus-ring-color: #dca378a1 !important;
  outline: none;
  border: #ffd88d;
}
form .btn-primary {
  padding: 0px 20px 0px 20px;
}
form .btn-primary:hover {
  background-color: #dca378 !important;
  border: #dca378;
}

/*CUBOS CATEGORIAS*/
.cubos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  padding: 2rem 1rem;
}
.cubos a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.cubos a .cubo {
  position: relative;
  aspect-ratio: 1/1;
}
.cubos a .cubo:hover {
  transform: scale(1.03);
}
.cubos a .cubo:hover img {
  filter: brightness(100%) blur(0);
}
.cubos a .cubo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%) blur(1px);
  transition: transform 0.3s ease, filter 0.3s ease;
}
.cubos a .cubo h5 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  z-index: 2;
}

/*Fondo*/
.footer {
  position: relative;
  background-image: url(../img/fondo-portada-bigotes.png);
  background-size: cover;
  background-position: center;
  padding: 3rem 1rem;
  color: white;
  z-index: 1;
}
.footer .footer-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 10px;
}

/*redes*/
.redes-footer h6 {
  font-weight: 600;
  margin-bottom: 1rem;
}
.redes-footer div a {
  color: #fff;
  text-decoration: none;
  opacity: 0.85;
  transition: 0.3s;
}
.redes-footer div a:hover {
  opacity: 1;
  text-decoration: underline;
}
.redes-footer div a:hover svg {
  transform: scale(1.1);
}
.redes-footer div a svg {
  fill: white;
  transition: transform 0.2s ease;
  width: 35px;
  height: 35px;
}

.underline {
  color: #fef9f5;
  text-decoration: none;
}

/*NEWSLETTER*/
.newsletter form input {
  max-width: 250px;
}
@media (max-width: 768px) {
  .newsletter-form {
    flex-direction: column;
  }
  .newsletter-form input,
  .newsletter-form button {
    width: 100%;
  }
}
@media (max-width: 980px) {
  .redes {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .carrusel-principal .carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    border-radius: 12px;
    width: 90%;
    color: #333;
    text-align: center;
    display: block !important;
    max-height: 2650px;
    object-fit: cover;
  }
  .carrusel-principal .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .carrusel-principal .carousel-caption p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .carrusel-principal img {
    object-fit: cover;
    height: 250px;
  }
  .carousel-item {
    height: min-content;
  }
  .carrusel-principal {
    height: min-content;
  }
}
/*!Fin del carrusel*/
/*!CAJA DE INFORMACION INDEX*/
@media (max-width: 768px) {
  .encabezado {
    margin: 40px 10px 30px 10px;
  }
  .encabezado h1 {
    font-size: 1.6em;
    padding: 0 10px;
    text-align: center;
    line-height: 1.3;
  }
  .caja-info {
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 20px;
    padding: 20px 15px;
  }
  .caja-info div h3 {
    font-size: 1.2em;
  }
  .caja-info svg {
    width: 35px;
    height: 35px;
  }
}

/*# sourceMappingURL=estilos.css.map */
