/*Colores*/
/*!principal #ffd88d,secundario #dca378, verdecito #d7e0b5, cremita #f5f5d3, no blanco fef9f5*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Nav*/
nav{
    background-color: #ffd88d; 
}

.dropdown-menu{
    background-color: #fef9f5 !important;
}

.dropdown-item:hover{
    background-color:#f5f5d3 !important;
}

/*Redes*/
.redes{
    padding-left: 7px;
}

.redes a{
    padding-left: 15px;
    text-decoration: none;
}

.redes a svg{
    transition: 0.5s;
}

.bi-whatsapp:hover{
    color: #128C7E
!important;
}

.bi-facebook:hover{
    color: #4267B2;
}

.bi-instagram:hover{
    color: #C13584;
}

nav div div form input{
    margin-right: 10px;
}
form .form-control:focus{
    --bs-focus-ring-color: #dca378a1 !important;
    outline: none;
    border:#dca378;
}

form .btn{
    padding: 0px 20px 0px 20px;
    border:#dca3788c;
    background-color: #dca3788c;
}

.btn-primary:hover{
    background-color: #dca378 !important;
    border: #dca378;
}
/*Fin de la NAV*/


/*CARRUSEL PRINCIPAL*/
.carrusel-principal{
    height: 500px;
}

.carousel-caption h2{
    font-family: "Bad Script", cursive;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    color: #d7e0b5;
}

.carousel-caption p{
    color: rgb(26, 23, 23);
    font-family: "Kiwi Maru", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}


.carousel-item{
    height: 500px;
}

.carousel-item img{
    object-position: center;
}
/*Fin del carrusel*/


/*CAJA DE INFORMACION INDEX*/
.encabezado{
    margin: 60px 0px 40px 0px;
}

article h1{
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.caja-info{
    border: solid #d7e0b5;
    border-radius: 15px;
    margin: 20px;
    background-color: #d7e0b5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px 20px;
    text-align: center;
}

.caja-info div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-info div h3{
    font-family: "Kiwi Maru", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
}

/*CARRUSELES NOVEDAD*/
.main-carrusel{
    margin: 50px;
}

.titulo-carrusel{
    text-align: center;
    font-family: "Playwrite IS", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    padding-bottom: 30px;
}

.card-producto {
    max-height: 400px;    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: none;
}

.card-producto img {
    height: 200px;
    object-fit: cover;
}

.card-producto .card-text {
    font-size: 0.9rem;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-inner {
    height: auto !important;
}

.card-body a{
    background-color: #d7e0b5 !important;
    border: #d7e0b5;
    
}


.cubos a div img{
    height: 10px;
    width: 10px;
}